USE [master]
GO
/****** Object:  Database [ShopDb]    Script Date: 2/12/2023 9:55:20 PM ******/
CREATE DATABASE [ShopDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShopDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShopDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[CategoryID] [int] NULL,
	[Price] [money] NULL,
	[Quantity] [smallint] NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Beverages')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Condiments')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Confections')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [CategoryID], [Price], [Quantity], [Rating]) VALUES (2, N'Chang', 1, 19.0000, 17, 3)
INSERT [dbo].[Products] ([Id], [Name], [CategoryID], [Price], [Quantity], [Rating]) VALUES (6, N'Grandma''s Boysenberry Spread', 2, 25.0000, 120, 3)
INSERT [dbo].[Products] ([Id], [Name], [CategoryID], [Price], [Quantity], [Rating]) VALUES (7, N'Uncle Bob''s Organic Dried Pears', 4, 30.0000, 116, 3)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([Id], [ProductId], [Rating]) VALUES (1, 75, 1)
INSERT [dbo].[Ratings] ([Id], [ProductId], [Rating]) VALUES (2, 37, 3)
INSERT [dbo].[Ratings] ([Id], [ProductId], [Rating]) VALUES (3, 15, 1)
GO
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Rating]  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories] FOREIGN KEY([Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CategoryId] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CategoryId]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_ProductId]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddProduct]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddProduct]
	@name nvarchar(50),@categoryId int, @quantity smallint, @price money
AS
BEGIN
	INSERT INTO Products([Name],CategoryID,Quantity,Price) VALUES(@name,@categoryId,@quantity,@price)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_AddRating]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddRating]
	@productId int , @rating int
AS
BEGIN
	
	BEGIN TRAN RatingProduct

	INSERT INTO Ratings VALUES(@productId,@rating)

	IF(@@ERROR != 0)
		ROLLBACK TRAN RatingProduct
	ELSE
	BEGIN
		EXEC usp_CalculateRating @productId

		IF(@@ERROR != 0 )
			ROLLBACK TRAN RatingProduct
		ELSE
			COMMIT TRAN RatingProduct
	END

END
GO
/****** Object:  StoredProcedure [dbo].[usp_CalculateRating]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CalculateRating]
	@productId int
AS
BEGIN
	DECLARE @ratingAVG int 

	SELECT @ratingAVG =  AVG(CAST(Rating as Float)) FROM Ratings
	WHERE ProductId = @productId

	UPDATE Products
	SET Rating = @ratingAVG
	WHERE Id = @productId

END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteProduct]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteProduct]
	@productId int
AS
BEGIN
	WAITFOR DELAY '00:00:04'
	DELETE FROM Ratings WHERE ProductId = @productId

	DELETE FROM Products WHERE Id = @productId
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateProduct]    Script Date: 2/12/2023 9:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_UpdateProduct]
	@productId int,@name nvarchar(50),@categoryId int, @quantity smallint, @price money
AS
BEGIN
	UPDATE Products
	SET [Name] = @name, CategoryID = @categoryId, Quantity = @quantity, Price = @price
	WHERE Id = @productId
END
GO
USE [master]
GO
